// * {
//     border: 1px red solid;
// }

.topSection,
.bottomSection {
  height: 285px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;

  @include media(700px) {
    height: 325px;
    justify-content: space-evenly;
  }
}
select {
  width: 100%;
  padding: 2px 8px;
  border: 2px solid $accentColor;
  background: $primaryColor;
  &:focus {
    border: 2px solid $hoverColor;
  }
}

.bottomSection {
  margin-bottom: 50px;
  height: 200px;
  @include media(700px) {
    padding: 0px 0px;
    height: 125px;
  }
}

.topSection .landingTitle {
  color: $accentColor;
  font-family: $accentFont;
  @include fontSize(80);
  text-align: center;
  @include media(900px) {
    @include fontSize(66);
  }

  @include media(700px) {
    @include fontSize(60);
  }

  @include media(400px) {
    @include fontSize(50);
  }
}

.topSection .landingText {
  color: $primaryColor;
  padding: 0px 75px;
  text-align: center;
  line-height: 30px;

  @include media(900px) {
    @include fontSize(18);
    padding: 0px 25px;
  }

  @include media(700px) {
    line-height: 25px;
    padding: 0px 0px;
  }
}

.userSelection,
.getResults {
  background: $primaryColor;
  color: $darkColor;
  text-align: center;
  margin-top: 50px;
  @include media(700px) {
    margin-top: 40px;
  }

  @include media(400px) {
    margin-top: 60px;
  }
}

.getResults {
  -webkit-appearance: none;
  padding: 15px 20px;
  background: $accentColor;
  &:hover,
  &:focus {
    background: $hoverColor;
    color: $darkColor;
    cursor: pointer;
  }
}

.swal-text,
.swal-button--confirm {
  @include fontSize(24);
}
.swal-button--confirm {
  background: $accentColor;
  position: relative;
}
