.pageTwoTop {
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: $baseFont;
  font-style: italic;
  @include fontSize(24);
  p {
    padding-bottom: 15px;
  }
  .pairingText {
    font-style: normal;
    padding-top: 15px;
    @include fontSize(20);
  }
}

.pairedWines {
  font-family: $baseFont;
  color: $accentColor;
  font-style: normal;
  @include fontSize(24);
}

.wineSelection {
  color: $primaryColor;
  font-family: $baseFont;
  font-style: italic;
  color: $accentColor;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;

  legend {
    padding-bottom: 20px;
  }

  label {
    padding: 10px 5px;
    font-style: normal;
    color: $primaryColor;
    cursor: pointer;
  }

  input {
    opacity: 0;
  }
  input:focus + label,
  input:hover + label {
    color: $hoverColor;
  }
}

.pageTwoBottom {
  margin-bottom: 50px;
}

.pageTwoBottom button {
  background-color: $accentColor;
  color: $darkColor;
  letter-spacing: 1.2;
  padding: 15px 20px;
  margin-right: 30px;
  @include media(590px) {
    margin-top: 30px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
  }

  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $hoverColor;
  }
}
