html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.topSection,
.bottomSection {
  height: 285px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

@media only screen and (max-width: 700px) {
  .topSection,
  .bottomSection {
    height: 325px;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

select {
  width: 100%;
  padding: 2px 8px;
  border: 2px solid #e6ca85;
  background: #ebeced;
}

select:focus {
  border: 2px solid #e69985;
}

.bottomSection {
  height: 165px;
}

@media only screen and (max-width: 700px) {
  .bottomSection {
    padding: 0px 0px;
    height: 125px;
  }
}

.topSection .landingTitle {
  color: #e6ca85;
  font-family: "Dancing Script", cursive;
  font-size: 80px;
  font-size: 4rem;
  text-align: center;
}

@media only screen and (max-width: 900px) {
  .topSection .landingTitle {
    font-size: 66px;
    font-size: 3.3rem;
  }
}

@media only screen and (max-width: 700px) {
  .topSection .landingTitle {
    font-size: 60px;
    font-size: 3rem;
  }
}

@media only screen and (max-width: 400px) {
  .topSection .landingTitle {
    font-size: 50px;
    font-size: 2.5rem;
  }
}

.topSection .landingText {
  color: #ebeced;
  padding: 0px 75px;
  text-align: center;
  line-height: 30px;
}

@media only screen and (max-width: 900px) {
  .topSection .landingText {
    font-size: 18px;
    font-size: 0.9rem;
    padding: 0px 25px;
  }
}

@media only screen and (max-width: 700px) {
  .topSection .landingText {
    line-height: 25px;
    padding: 0px 0px;
  }
}

.userSelection,
.getResults {
  background: #ebeced;
  color: #20201e;
  text-align: center;
  margin-top: 50px;
}

@media only screen and (max-width: 700px) {
  .userSelection,
  .getResults {
    margin-top: 40px;
  }
}

@media only screen and (max-width: 400px) {
  .userSelection,
  .getResults {
    margin-top: 60px;
  }
}

.getResults {
  padding: 15px 20px;
  background: #e6ca85;
}

.getResults:hover, .getResults:focus {
  background: #e69985;
  color: #20201e;
  cursor: pointer;
}

.swal-text,
.swal-button--confirm {
  font-size: 24px;
  font-size: 1.2rem;
}

.swal-button--confirm {
  background: #e6ca85;
  position: relative;
}

.navList {
  text-decoration: none;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 150px;
  color: #ebeced;
}

.logoContainer {
  width: 100px;
}

.logoContainer img {
  width: 100%;
}

nav p {
  color: #ebeced;
  font-size: 1rem;
  letter-spacing: 2px;
}

html {
  font-size: 20px;
}

body {
  font-size: 24px;
  font-size: 1.2rem;
}

h1, h2, h3, p, li, ul, button {
  margin: 0px;
  padding: 0px;
  font-family: "Lora", serif;
  color: #ebeced;
}

button {
  color: #20201e;
}

.textEmphasis {
  font-family: "Dancing Script", cursive;
  color: #e6ca85;
}

.wrapper {
  max-width: 1080px;
  width: 85%;
  margin: 0px auto;
  height: 100%;
}

body {
  background: url("../assets/backgroundImg.png");
  background-size: contain;
  background-color: #20201e;
  background-repeat: no-repeat;
  height: 650px;
  background-position: center;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
  /* added line */
}

.pageTwoTop {
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: "Lora", serif;
  font-style: italic;
  font-size: 24px;
  font-size: 1.2rem;
}

.pageTwoTop p {
  padding-bottom: 15px;
}

.pageTwoTop .pairingText {
  font-style: normal;
  padding-top: 15px;
  font-size: 20px;
  font-size: 1rem;
}

.pairedWines {
  font-family: "Lora", serif;
  color: #e6ca85;
  font-style: normal;
  font-size: 24px;
  font-size: 1.2rem;
}

.wineSelection {
  color: #ebeced;
  font-family: "Lora", serif;
  font-style: italic;
  color: #e6ca85;
  padding-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wineSelection legend {
  padding-bottom: 20px;
}

.wineSelection input[type="radio"] {
  -moz-appearance: none;
  display: none;
}

.wineSelection input[type="radio"] + label {
  padding: 10px 5px;
  font-style: normal;
  color: #ebeced;
  cursor: pointer;
}

.wineSelection input[type="radio"] + label:hover, .wineSelection input[type="radio"] + label:focus, .wineSelection input[type="radio"] + label:active, .wineSelection input[type="radio"] + label:checked {
  color: #e69985;
  outline-style: none;
}

.wineSelection input[type="radio"]:checked + label {
  color: #e69985;
}

.pageTwoBottom {
  margin-bottom: 50px;
}

.pageTwoBottom button {
  background-color: #e6ca85;
  color: #20201e;
  letter-spacing: 1.2;
  padding: 15px 20px;
  margin-right: 30px;
  cursor: pointer;
}

@media only screen and (max-width: 590px) {
  .pageTwoBottom button {
    margin-top: 30px;
    position: relative;
    left: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
  }
}

.pageTwoBottom button:hover, .pageTwoBottom button:focus {
  background-color: #e69985;
}

.mainContainer {
  width: 100%;
}

.pageThreeTop {
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pageThreeTop p {
  font-style: italic;
}

@media only screen and (max-width: 700px) {
  .pageThreeTop p {
    text-align: center;
  }
}

.priceSlider p {
  margin: 0 auto;
  text-align: center;
  height: 75px;
  padding-top: 10px;
  font-style: normal;
}

.mainWineCard {
  height: 275px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 700px) {
  .mainWineCard {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: auto;
  }
}

.wineCard {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 700px) {
  .wineCard {
    padding-top: 30px;
    width: 100%;
  }
}

.pairedWines {
  font-family: "Lora", serif;
  color: #e6ca85;
  font-size: 24px;
  font-size: 1.2rem;
  font-style: normal;
}

.wineCard .wineImgContainer {
  width: 175px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wineCard .wineImgContainer img {
  width: 100%;
}

.wineCard .wineImgContainer p {
  font-size: 15px;
  font-size: 0.75rem;
  color: rgba(255, 255, 255, 0.5);
}

.wineTextContainer {
  margin-top: 10%;
  height: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 700px) {
  .wineTextContainer {
    padding-top: 0px;
  }
}

.wineTextContainer h2 {
  font-size: 25px;
  font-size: 1.25rem;
  margin-top: 10px;
}

.wineTextContainer a {
  text-decoration: underline;
  color: #ebeced;
}

.wineTextContainer a:hover, .wineTextContainer a:focus {
  color: #e69985;
}

.wineTextContainer p {
  padding-top: 10px;
  font-size: 20px;
  font-size: 1rem;
  text-align: center;
}

.wineTextContainer h3 {
  font-size: 20px;
  font-size: 1rem;
  color: #e6ca85;
  text-align: center;
}

.bottomSectionThree {
  width: 100%;
  height: 100%;
  padding-top: 20px;
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 700px) {
  .bottomSectionThree {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.mainContainer .startOverThree {
  margin: 0 auto;
  margin-top: 30px;
  background-color: #e6ca85;
  color: #20201e;
  letter-spacing: 1.2;
  padding: 15px 20px;
}

.mainContainer .startOverThree:hover, .mainContainer .startOverThree:focus {
  background: #e69985;
  cursor: pointer;
}

.bodyMap {
  background: #404040;
  color: #f8f8f8;
  font: 500 20px/26px "Lora", serif;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

.mobile {
  display: none;
}

@media only screen and (max-width: 850px) {
  .mobile {
    display: block;
    position: absolute;
    top: 40px;
    left: 200px;
    z-index: 1;
  }
}

.sidebar {
  width: 25%;
}

@media only screen and (max-width: 850px) {
  .sidebar {
    width: 0;
  }
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.map {
  border-left: 1px solid #fff;
  position: absolute;
  left: 25%;
  width: 75%;
  top: 0;
  bottom: 0;
}

@media only screen and (max-width: 850px) {
  .map {
    left: 0;
    width: 100%;
  }
}

.pad2 {
  padding: 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* sidebar styling */
.bodyMap {
  color: #404040;
  font: 400 15px/22px "Source Sans Pro", "Helvetica Neue", Sans-serif;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.h1Map {
  font-size: 20px;
  margin: 0;
  font-weight: 600;
  line-height: 25px;
  padding: 0px 2px;
  padding-top: 20px;
  color: #20201e;
}

.aMap {
  color: #404040;
  text-decoration: none;
}

.aMap:hover,
.aMap:focus {
  color: #101010;
}

.sidebar {
  position: absolute;
  width: 25%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  border-right: 1px solid rgba(0, 0, 0, 0.25);
}

@media only screen and (max-width: 850px) {
  .sidebar {
    width: 0;
  }
}

.pad2 {
  padding: 20px;
}

.map {
  position: absolute;
  left: 25%;
  width: 75%;
  top: 0;
  bottom: 0;
}

@media only screen and (max-width: 850px) {
  .map {
    left: 0;
    width: 100%;
  }
}

.heading {
  background: #e6ca85;
  border-bottom: 1px solid #eee;
  height: 80px;
  font-weight: bold;
  line-height: 60px;
  padding: 0 10px;
}

@media only screen and (max-width: 850px) {
  .heading {
    position: absolute;
    top: 100;
    left: 0;
  }
}

.listings {
  height: 100%;
  overflow: auto;
  padding-bottom: 60px;
}

@media only screen and (max-width: 850px) {
  .listings {
    display: none;
  }
}

.listings .item {
  display: block;
  border-bottom: 1px solid #eee;
  padding: 10px;
  text-decoration: none;
}

.listings .item:last-child {
  border-bottom: none;
}

.listings .item .title {
  display: block;
  color: #e6ca85;
  font-weight: 400;
}

.listings .item .title small {
  font-weight: 400;
}

.listings .item.active .title,
.listings .item .title:hover {
  color: #20201e;
}

.listings .item.active {
  background-color: #f8f8f8;
}

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  border-left: 0;
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: #e6ca85;
  border-radius: 0;
}

.clearfix {
  display: block;
}

.clearfix::after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* styling pop ups */
/* Marker tweaks */
.mapboxgl-popup-close-button {
  display: none;
}

.mapboxgl-popup-content {
  font: 400 15px/22px "Source Sans Pro", "Helvetica Neue", Sans-serif;
  padding: 0;
  width: 180px;
}

.mapboxgl-popup-content-wrapper {
  padding: 1%;
}

.mapboxgl-popup-content h3 {
  background: #e6ca85;
  color: #20201e;
  margin: 0;
  display: block;
  padding: 10px;
  border-radius: 3px 3px 0 0;
  font-weight: 700;
  margin-top: -15px;
}

.mapboxgl-popup-content h4 {
  margin: 0;
  display: block;
  padding: 10px;
  font-weight: 400;
}

.mapboxgl-popup-content div {
  padding: 10px;
}

.mapboxgl-container .leaflet-marker-icon {
  cursor: pointer;
}

.mapboxgl-popup-anchor-top > .mapboxgl-popup-content {
  margin-top: 15px;
}

.mapboxgl-popup-anchor-top > .mapboxgl-popup-tip {
  border-bottom-color: #91c949;
}

.goBack {
  font-weight: 400;
  font-size: 15px;
}

.goBack:hover {
  font-weight: 600;
  font-size: 15px;
  color: black;
}

.findLocation {
  z-index: 2;
  position: absolute;
  bottom: 10px;
  right: 20px;
}

.findLocation button {
  font-size: 15px;
  padding: 8px 5px;
  background: #e6ca85;
  font-weight: bold;
}

.findLocation button:focus, .findLocation button:hover {
  background: #e69985;
}
