html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.topSection, .bottomSection {
  height: 285px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

@media (max-width: 700px) {
  .topSection, .bottomSection {
    height: 325px;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

.bottomSection {
  height: 165px;
}

@media (max-width: 700px) {
  .bottomSection {
    padding: 0px 0px;
    height: 125px;
  }
}

.topSection .landingTitle {
  color: #e6ca85;
  font-family: "Dancing Script", cursive;
  font-size: 4rem;
  text-align: center;
}

@media (max-width: 900px) {
  .topSection .landingTitle {
    font-size: 3.3rem;
  }
}

@media (max-width: 700px) {
  .topSection .landingTitle {
    font-size: 3rem;
  }
}

@media (max-width: 400px) {
  .topSection .landingTitle {
    font-size: 2rem;
  }
}

.topSection .landingText {
  color: #ebeced;
  padding: 0px 75px;
  text-align: center;
  line-height: 30px;
}

@media (max-width: 900px) {
  .topSection .landingText {
    font-size: 0.9rem;
    padding: 0px 25px;
  }
}

@media (max-width: 700px) {
  .topSection .landingText {
    font-size: 0.8rem;
    line-height: 25px;
    padding: 0px 0px;
  }
}

@media (max-width: 400px) {
  .topSection .landingText {
    font-size: 0.7rem;
  }
}

.userSelection, .getResults {
  background: #ebeced;
  color: #20201e;
  text-align: center;
  margin-top: 50px;
}

@media (max-width: 700px) {
  .userSelection, .getResults {
    margin-top: 40px;
  }
}

@media (max-width: 400px) {
  .userSelection, .getResults {
    margin-top: 75px;
  }
}

.getResults {
  padding: 7.5px;
  background: #e6ca85;
}

.getResults:hover {
  padding: 7.5px;
  background: #ebeced;
  color: #20201e;
  cursor: pointer;
}

.navList {
  text-decoration: none;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 150px;
  color: #ebeced;
}

.logoContainer {
  width: 100px;
}

.logoContainer img {
  width: 100%;
}

nav p {
  color: #ebeced;
  font-size: 1rem;
  letter-spacing: 2px;
}

html {
  font-size: 20px;
}

h1, h2, h3, p, li, ul, button {
  margin: 0px;
  padding: 0px;
  font-family: "Lora", serif;
}

.wrapper {
  max-width: 1080px;
  width: 85%;
  margin: 0px auto;
  height: 100%;
}

body {
  background: url("../assets/backgroundImg.png");
  background-size: contain;
  background-color: #20201e;
  background-repeat: no-repeat;
  height: 650px;
  background-position: center;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
  /* added line */
}
